[Desktop Entry]
Name[ar]=التحميل المتوازي
Name[ca]=Càrrega lateral
Name[cs]=Nahrání bokem
Name[da]=Sideload
Name[de]=Sideload
Name[en_AU]=Sideload
Name[en_CA]=Sideload
Name[en_GB]=Sideload
Name[eo]=Flanka ŝargiĝo
Name[es]=Instalación de prueba
Name[fi]=Sivulataus
Name[fr]=Sideload
Name[he]=טעינה מהצד
Name[it]=Sideload
Name[ja]=Sideload
Name[lt]=Sideload
Name[mr]=साईड लोड
Name[nb]=Sideinnlasting
Name[nl]=Sideload
Name[nn]=Sideload
Name[pt]=Sideload
Name[pt_BR]=Carregamento lateral
Name[ru]=Загрузка из сторонних источников
Name[sl]=Stranska namestitev
Name[sr]=Учитавање са стране
Name[tr]=Sideload
Name[uk]=Завантаження зі сторонніх джерел
Name[zh_CN]=旁加载
Name=Sideload
Comment[ar]=قم بتثبيت التطبيقات المنزلة من الإنترنت
Comment[ca]=Instal·leu aplicacions baixades d’Internet.
Comment[cs]=Instalace aplikací stažených z Internetu
Comment[da]=Installer applikationer downloadet fra internettet
Comment[de]=Installiert aus dem Internet heruntergeladene Anwendungen
Comment[en_AU]=Install apps downloaded from the Internet
Comment[en_CA]=Install apps downloaded from the Internet
Comment[en_GB]=Install apps downloaded from the Internet
Comment[eo]=Instali aplikaĵon elŝutita de la interreto
Comment[es]=Instalar aplicaciones descargadas de Internet
Comment[fi]=Asenna Internetistä ladattuja sovelluksia
Comment[fr]=Installez des applications téléchargées depuis Internet
Comment[he]=התקנת יישומים שהתקבלו מהאינטרנט
Comment[it]=Installa le applicazioni scaricate da Internet
Comment[ja]=インターネットからダウンロードしたアプリをインストールします
Comment[lt]=Įdiegti iš interneto atsisiųstas programas
Comment[mr]=इंटरनेट वरून डाउनलोड केलेले अ‍ॅप्स स्थापित करा
Comment[nb]=Installer programmer lastet ned fra Internett
Comment[nl]=Installeer apps die u heeft gedownload van het internet
Comment[nn]=Installer appar som du har lasta ned frå internettet
Comment[pl]=Instaluj programy pobrane z Internetu
Comment[pt]=Instalar aplicações transferidas da Internet
Comment[pt_BR]=Instale aplicativos baixados da Internet
Comment[ru]=Установка приложений загруженных из Интернета
Comment[sl]=Namestitev aplikacij prenesenih iz interneta
Comment[sr]=Инсталирајте програме преузете са Интернета
Comment[tr]=İnternetten indirilen uygulamaları yükleyin
Comment[uk]=Встановлення завантажених з Інтернету застосунків
Comment[zh_CN]=安装从网络上下载的应用程序
Comment=Install apps downloaded from the Internet
GenericName[ar]=مثبت Flatpak
GenericName[ca]=Instal·lador de Flatpak
GenericName[cs]=Instalátor flatpak
GenericName[da]=Flatpak Installering
GenericName[de]=Flatpak Installer
GenericName[en_AU]=Flatpak Installer
GenericName[en_CA]=Flatpak Installer
GenericName[en_GB]=Flatpak Installer
GenericName[eo]=Instalilo Flatpak
GenericName[es]=Instalador de Flatpak
GenericName[fi]=Flatpak-asentaja
GenericName[fr]=Installateur Flatpak
GenericName[he]=מתקין Flatpak
GenericName[it]=Installatore di pacchetti Flatpak
GenericName[ja]=Flatpak インストーラー
GenericName[lt]=Flatpak diegimo programa
GenericName[mr]=फ्लॅटपॅक इंस्टॉलर
GenericName[nb]=Flatpak-installasjonsprogram
GenericName[nl]=Flatpak installatieprogramma
GenericName[nn]=Flatpak-installering
GenericName[pl]=Instalator Flatpak
GenericName[pt]=Instalador Flatpak
GenericName[pt_BR]=Instalador Flatpack
GenericName[ru]=Установщик Flatpak
GenericName[sl]=Flatpak nameščevalec
GenericName[sr]=Флатпак инсталер
GenericName[tr]=Flatpak Yükleyici
GenericName[uk]=Встановлювач Flatpak
GenericName=Flatpak Installer
Exec=io.elementary.sideload %u
Icon[ca]=io.elementary.sideload
Icon[cs]=io.elementary.sideload
Icon[da]=io.elementary.sideload
Icon[en_AU]=io.elementary.sideload
Icon[en_CA]=io.elementary.sideload
Icon[en_GB]=io.elementary.sideload
Icon[eo]=io.elementary.sideload
Icon[es]=io.elementary.sideload
Icon[fi]=io.elementary.sideload
Icon[fr]=io.elementary.sideload
Icon[he]=io.elementary.sideload
Icon[it]=io.elementary.sideload
Icon[ja]=io.elementary.sideload
Icon[lt]=io.elementary.sideload
Icon[mr]=io.elementary.sideload
Icon[nl]=io.elementary.sideload
Icon[nn]=io.elementary.sideload
Icon[pl]=io.elementary.sideload
Icon[pt]=io.elementary.sideload
Icon[pt_BR]=io.elementary.sideload
Icon[ru]=io.elementary.sideload
Icon[sl]=io.elementary.sideload
Icon[sr]=io.elementary.sideload
Icon[tr]=io.elementary.sideload
Icon[uk]=io.elementary.sideload
Icon=io.elementary.sideload
Keywords[ar]=flatpak;
Keywords[ca]=flatpak;
Keywords[cs]=flatpak;
Keywords[da]=flatpak;
Keywords[de]=flatpak;
Keywords[en_AU]=flatpak;
Keywords[en_CA]=flatpak;
Keywords[en_GB]=flatpak;
Keywords[eo]=flatpak;
Keywords[es]=flatpak;
Keywords[fi]=flatpak;
Keywords[fr]=flatpak;
Keywords[he]=flatpak;
Keywords[it]=flatpak;
Keywords[ja]=flatpak;
Keywords[lt]=flatpak;
Keywords[mr]=flatpak;
Keywords[nl]=flatpak;
Keywords[nn]=flatpak;
Keywords[pl]=flatpak;
Keywords[pt]=flatpak;
Keywords[pt_BR]=flatpak;
Keywords[ru]=flatpak;
Keywords[sl]=flatpak;
Keywords[sr]=флатпак;
Keywords[tr]=flatpak;
Keywords[uk]=flatpak;
Keywords=flatpak;
Terminal=false
Type=Application
StartupNotify=true
Categories=PackageManager;
NoDisplay=true
MimeType=application/vnd.flatpak.ref;application/vnd.flatpak;
X-GNOME-UsesNotifications=true
